/************************
GENERAL
*************************/

body {
  height: 100%;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

#wrapper {
  height: 100%;
  margin: 0 auto;
  padding: 0 5%;
}

h1 {
  font-family: 'Pacifico', cursive;
  font-size: 3em;
  color: #2231ff;
}

p {
  font-family: 'Open Sans', sans-serif;
}

/************************
HEADER
*************************/

header {
  width: 100%;
  margin: -20px auto;
  padding: 0;
}

#headline {
  text-align: center;
  padding: 0;
}

/************************
MAP
*************************/

#map-canvas {
  width: 100%;
  height: 900px;
  border: 1px solid black;
  margin: 0 auto;
  /*position: relative;*/
  /*display: inline-block;*/
}

/************************
FOOTER
*************************/

footer {
  font-size: .75em;
  text-align: center;
  clear: both;
  padding-top: 50px;
  color: #ccc;
  margin: 0 auto;
}

.social-icon {
  width: 30px;
  height: 30px;
  margin: 0 3px;
}