/************************
GENERAL
*************************/

a {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

#wrapper {
  margin: 0 auto;
  padding: 0 5%;
}

h1 {
  font-family: 'Pacifico', cursive;
  font-size: 3em;
}

/************************
HEADER
*************************/

header {
  width: 100%;
  margin: 0 auto;
  padding: 0;
  /*border: 1px solid black;*/
}

#headline {
  text-align: center;
  padding: 0;
}

/************************
MAP
*************************/

#map {
  width: 72%;
  height: 300px;
  border: 1px solid black;
  /*margin: 0 auto;*/
  /*position: relative;*/
  display: inline-block;
  padding: 0 15px 0 0;
}

/************************
SATELLITE BAR
*************************/

#satellite-bar {
  width: 25%;
  height: 300px;
  /*position: relative;*/
  display: inline-block;
  border: 1px solid black;
  /*margin: 0 auto;*/
  float: right;
}

/************************
FOOTER
*************************/

footer {
  font-size: .75em;
  text-align: center;
  clear: both;
  padding-top: 50px;
  color: #ccc;
}

.social-icon {
  width: 30px;
  height: 30px;
  margin: 0 3px;
}